/*
** -----------------------------------
** STYLESHEET FOR TEATOR.ORG
** COPYRIGHT EMILIE THALER 2014
** WWW.EMILIETHALER.COM
** -----------------------------------
*/

// Variables
$orange: #F26600;
$blue: #41ABDA;
$green: #BCE32B;
$white: #FDFCFF;
$grey:#3E3C39;

/*
** -----------------------------------
** UNIVERSAL & CONTAINERS
** -----------------------------------
*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
iframe {
	width: 100%;
}
body {
	background-color: $white;
	font-family: 'Museo Sans Rounded', 'museo-sans-rounded', sans-serif;
	font-size: 16px;
}

header {
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: $grey;
	background-image: url(../img/dark_wall.png);
	border-bottom: 1px $grey/2;
	height: 60px;
	overflow: hidden;
	img {
		left: 4%;
		width: 100px;
		position: fixed;
		top: 7px;
	}
	nav {
		position: fixed;
		top: 15px;
		right: 4%;
		width: 50%;
	}
	.nav-button {
		padding: 1.4% 6%;
		color: $white;
		text-decoration: none;
		text-shadow: 1px 1px 2px $grey*2;
		box-shadow: 1px 1px 5px $grey/1.2;
		float: right;
		margin-left: 1em;
	}
	#LogIn {
		background-color: $blue;
		box-shadow: inset -1px 1px 1px lighten($blue, 7%);
		box-shadow: inset 1px -1px 2px darken($blue, 5%);
		&:hover {
			background-color: lighten($blue, 10%);
		}
	}
	#SignUp {
		background-color: $orange;
		box-shadow: inset -1px 1px 1px lighten($orange, 5%);
		box-shadow: inset 1px -1px 2px darken($orange, 5%);
		&:hover {
			background-color: lighten($orange, 10%);
		}
	}
}

.section {
	width: 100%;
	overflow: auto;
}
.section-left {
	width: 50%;
	float: left;
	padding: 1em;
}
.section-right {
	width: 50%;
	float: right;
	padding: 1em;
}
.wrap {
	padding: 4%;
	max-width: 940px;
	margin: 0 auto;
}
.quarter-column {
	width: 25%;
	float: left;
	padding: 0 1%;
	text-align: center;
}
.rows {
	font-size: .8em;
	text-align: center;
	margin-bottom: 4%;
	img {
		width: 20%;
	}
	h2 {
		margin-bottom: 2em;
	}
}
.row-1{
	overflow: auto;
	margin-bottom: 4%;
	.column {
		width: 25%;
		float: left;
		padding: 2%;
	}
}
.row-2{
	width: 75%;
	margin: 0 auto;
	clear: both;
	overflow: auto;
	.column {
		width: 33%;
		float: left;
		padding: 2%;
	}
}

/*
** -----------------------------------
** TYPOGRAPHY
** -----------------------------------
*/
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .025em;
}
p {}
a {}

.column h5 {
	color: darken($blue, 16%);
	font-size: 1.2em;
	margin-bottom: .3em;
}
/*
** -----------------------------------
** SPECIAL SECTIONS
** -----------------------------------
*/
#Hero {
	background-image: url(../img/girl-writing.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 450px;
	div {
		margin: 0 auto;
		position: relative;
  		top: 30%;
  		transform: translateY(-50%);
  		text-align: center;
  		p {
  			font-size: 2em;
  			margin-bottom: 1em;
  			color: $white;
  			text-shadow: 2px 2px $grey;
  		}
  		a {
  			padding: 2%;
  			text-decoration: none;
  			color: darken($green, 40%);
  			background-color: $green;
  			text-transform: uppercase;
  		}
	}
}

#Stats {
	background-color: desaturate($blue, 20%);
	background-image: url(../img/debut_light_blue.png);
	color: $white;
	border-top: 1px solid $blue;
	border-bottom: 1px solid $blue;
	text-shadow: 1px 1px 0 desaturate($blue, 60%)/1.2;
	.section-left {
		text-align: right;
		font-size: 8em;
		padding: 0 4% 4% 0;
		font-family: Helvetica, Arial, sans-serif;
	}
	.section-right{
		font-size: 2em;
		margin-top: -19px;
	}
}
#TeatorIs {
	img {
		height: 100px;
	}
}
.video {
	h2 {
		color: darken($green, 30%);
		margin-bottom: .5em;
	}
	p {
		color: darken($green, 40%);
		line-height: 1.4em;
	}
}
#Video1{
	background-color: $green;
}
#Video2{
	background-color: desaturate($green, 10%);
	.section-left {
		text-align: right;
	}
}
#Donate {
	background-color: $blue;
	background-image: url(../img/blue_wave.png);
	h2 {
		color: darken($blue, 40%);
		margin-bottom: .5em;
	}
	p {
		line-height: 1.5em;
		color: darken($blue, 60%);
	}
}
#HowItWorks {
	padding-bottom: 2em;
}

/*
** -----------------------------------
** FORMS
** -----------------------------------
*/
input[type="submit"] {
	border: none;
	border-radius: 3px;
	background-color: $orange;
	text-transform: uppercase;
	padding: 2%;
	letter-spacing: .02%;
}
input[type="text"] {
	border: none;
	border-radius: 3px;
	padding: 2%;
	margin: 0 1% 1% 0;
	color: $grey
}
#DonateForm {
	font-size: 1.4em;
	width: 100%;
	padding: 4% 0;
	text-align: center;
	input[type="text"] {
		width: 20%;
	}
	input[type="submit"] {
		background-color: $green;
		color: darken($green, 40%);
	}
}
/*
** -----------------------------------
** FOOTER
** -----------------------------------
*/
footer {
	background-color: $grey;
	background-image: url(../img/dark_wall.png);
	color: #fff;
	overflow: auto;
	font-size: .75em;
	padding: 4%;
	input[type="text"],
	input[type="submit"] {
		padding: 2% 4%;
	}
	h4 {
		margin-bottom: 8%;
		font-size: 1.4em;
		text-align: center;
		color: $green;
	}
	a {
		color: #fff;
		text-decoration: none;
	}
	small {
		display: block;
		clear: both;
	}
}
.footer-column {
	width: 33%;
	float: left;
	text-shadow: 1px 0px 2px $grey/2;
	text-align: center;
	margin-bottom: 4%;
	&:first-of-type {
		text-align: left;
		p {
			margin-bottom: 4%;
		}
	}
	a img {
		width: 18%;
	}
}

/*
** -----------------------------------
** MOBILE
** -----------------------------------
*/
@media screen and (max-width: 480px) {
#DonateForm input[type="submit"] {
	margin-top: .5em;
}
nav {
	width: 70%;
	.nav-button {
		padding: 4%;
	}
}

footer {
	h4 {
		margin-bottom: 2%;
	}
}
.row-2 {
	width: 100%;
}
.quarter-column,
.row-1 .column,
.row-2 .column {
	width: 50%;
	max-width: 50%;
}
#Stats {
	font-size: .6em;
	.section-left {
		text-align: center;
		padding: 0;
	}
	.section-right {
		text-align: center;
	}
}
.row-2 .column:last-of-type {
	margin: 0 auto;
}
.footer-column,
.section-left,
.section-right {
	width: 100%;
	text-align: center;
}
#Video1 .section-right {
	text-align: left;
}
#HowItWorks {
	h2 {
		font-size: 2em;
		text-align: center;
	}
	font-size: .75em;
	img {
		width: 90%;
	}
}
}

/*
** -----------------------------------
** TABLET
** -----------------------------------
*/
@media screen and (max-width: 680px) {
	#Hero {
		height: auto;
		padding: 6em .4em 3em .4em;
		overflow: auto;
		background-size: 255%;
		div {
			line-height: 2em;
			a {
				padding: 1em;
			}
		}
	}
	.row-2 .column:last-child {
		width: 50%;
		float: none;
		margin: 0 auto;
	}
}